<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <div class="site-header">
      <p class="site-title">Service Project Site</p>

      <nav aria-label="Main navigation">
        <a href="/">Home</a>
        <a href="/organizations">Organizations</a>
        <a href="/projects">Service Projects</a>
        <a href="/categories">Categories</a>
      </nav>
    </div>
  </header>